<!--> Filter card -->
<section class="card card-filter elevation-z2">
    <!-- Header -->
    <div class="card-filter__header">
        <button type="button" class="card-filter__btn-back" [routerLink]="['/placings']"><i
                class="fas fa-arrow-left"></i></button>
        <button type="button" class="card-filter__btn-title" (click)="toggleFilters()">
            <span>ANIMALES</span>
            <i class="fas fa-arrow-down card-filter__arrow" [ngClass]="{'card-filter__arrow--shown': showFilters}"></i>
        </button>
    </div>
    <!-- Content -->
    <div class="card-filter__content" [ngClass]="{'card-filter__content--shown': showFilters}">
        <div class="card-filter__element">
            <i class="far fa-check-square"></i>
            <span>Adultos</span>
        </div>
        <div class="card-filter__element">
            <i class="far fa-check-square"></i>
            <span>Crías</span>
        </div>
        <div class="card-filter__element">
            <i class="far fa-check-square"></i>
            <span>Machos</span>
        </div>
        <div class="card-filter__element">
            <i class="far fa-check-square"></i>
            <span>Hembras</span>
        </div>
        <div class="card-filter__element">
            <i class="far fa-check-square"></i>
            <span>Estabulados</span>
        </div>
        <div class="card-filter__element">
            <i class="far fa-check-square"></i>
            <span>En pasto</span>
        </div>
    </div>
</section>

<!--> Animal card -->
<section class="card card-animal elevation-z2" *ngFor="let animal of animalList"
    [ngClass]="{'card-animal--shown': animal.id == expandAnimalId}" (click)="expandAnimal(animal.id)">
    <div class="card-animal__header">
        <h2>
            <span *ngIf="animal.code">{{animal.code}}</span>
            <span *ngIf="animal.code && animal.name"> - </span>
            <span *ngIf="animal.name">{{animal.name}}</span>
        </h2>
        <img src="../../../assets/vectors/animals/{{animal.species.name}}.svg" [alt]="animal.species.name"
            class="icon-animal">
    </div>
    <div class="card-animal__content">
        <div class="card-animal__element">
            <span class="card-animal__element-title">Nacido</span>
            <span class="card-animal__element-value">{{animal.born | date:'d - M - yyyy'}}</span>
        </div>
        <div class="card-animal__element">
            <span class="card-animal__element-title">Sexo</span>
            <span class="card-animal__element-value">{{animal.sex}}</span>
        </div>
        <div class="card-animal__element">
            <span class="card-animal__element-title">Situación</span>
            <span class="card-animal__element-value">{{animal.placing.name}}</span>
        </div>
        <div class="card-animal__element">
            <span class="card-animal__element-title">Salud</span>
            <span class="card-animal__element-value" *ngIf="animal.health == 0">Sano</span>
            <span class="card-animal__element-value" *ngIf="animal.health == 1">En tratamiento</span>
        </div>
    </div>
    <div class="card-animal__controls">
        <button type="button" class="btn-edit" (click)="update($event, animal)"><i class="fas fa-pen"></i></button>
        <button type="button" class="btn-treatments" (click)="showTreatments($event, animal.id)"><i
                class="fas fa-syringe"></i></button>
    </div>
</section>

<!-- >Loading animation -->
<i class="fas fa-spinner loading-icon" *ngIf="!animalList"></i>

<!-- >No items warning -->
<div class="no-items-warn" *ngIf="animalList && animalList.length == 0">Añada elementos</div>

<!-- >Add button -->
<button class="btn-add elevation-z2" type="button" (click)="create()">
    <i class="fas fa-plus"></i>
</button>

<!-- >Create modal -->
<app-add-animal *ngIf="createModal" [objectUpdate]="objectUpdate" (returnMsg)="onModalReturn($event)">
</app-add-animal>

<!-- >Message modal -->
<app-msg-modal [msg]="msg" *ngIf="msg"></app-msg-modal>