<!-- >All animals -->
<section class="card card-animals card-main elevation-z2" (click)="selectPlacing(0)">
    <div class="card__content">
        <div class="card__column card__column--left">
            <h2>Lista completa</h2>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-info"></i>{{totalSummary?.animals}}</div>
                <div class="card__info"><i class="fas fa-egg"></i>{{totalSummary?.youngs}}</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-mars"></i>{{totalSummary?.male}}</div>
                <div class="card__info"><i class="fas fa-venus"></i>{{totalSummary?.female}}</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-syringe"></i>{{totalSummary?.ill}}</div>
                <div class="card__info"></div>
            </div>
        </div>

        <div class="card__column card__column--right">
            <div class="chart-container">
                <div class="pie-chart" echarts [options]="echartsOptions[0]"
                    *ngIf="echartsOptions && echartsOptions[0]"></div>
                <i class="fas fa-mars sex-symbol male-symbol"></i>
                <i class="fas fa-venus sex-symbol female-symbol"></i>
            </div>
        </div>
    </div>
</section>

<!-- >List of placings -->
<section class="card card-animals card-main elevation-z2" *ngFor="let placing of placings; let i = index"
    (click)="selectPlacing(placing.id)">
    <div class="card__content">
        <div class="card__column card__column--left">
            <h2>{{placing.name}}
                <button type="button" class="btn-edit" (click)="update($event, placing)"><i
                        class="fas fa-edit"></i></button>
            </h2>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-info"></i>{{placing.summary?.animals}}</div>
                <div class="card__info"><i class="fas fa-egg"></i>{{placing.summary?.youngs}}</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-mars"></i>{{placing.summary?.male}}</div>
                <div class="card__info"><i class="fas fa-venus"></i>{{placing.summary?.female}}</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-syringe"></i>{{placing.summary?.ill}}</div>
                <div class="card__info"></div>
            </div>
        </div>
        <div class="card__column card__column--right">
            <div class="chart-container">
                <div class="pie-chart" echarts [options]="echartsOptions[i+1]"
                    *ngIf="echartsOptions && echartsOptions[i+1]"></div>
                <i class="fas fa-mars sex-symbol male-symbol"></i>
                <i class="fas fa-venus sex-symbol female-symbol"></i>
            </div>
        </div>
    </div>
</section>

<!-- >Add button -->
<button class="btn-add elevation-z2" type="button" (click)="create()">
    <i class="fas fa-plus"></i>
</button>

<!-- >Create modal -->
<app-add-placing *ngIf="createModal" [placingUpdate]="placingUpdate" (returnMsg)="onModalReturn($event)">
</app-add-placing>

<!-- >Message modal -->
<app-msg-modal [msg]="msg" *ngIf="msg"></app-msg-modal>