<div class="modal-backdrop">
    <form class="form" [formGroup]="createForm">
        <h2 class="form-title">Placing</h2>
        <div class="form-row">
            <input class="text-input" placeholder="Name" formControlName="name">
        </div>
        <div class="form-row">
            <button class="btn-accept" type="button" (click)="cancel()">Cancelar</button>
            <button class="btn-accept" *ngIf="!placingUpdate" type="button" (click)="create()">Crear</button>
            <button class="btn-accept" *ngIf="placingUpdate" type="button" (click)="update()">Actualizar</button>
            <button class="btn-accept" *ngIf="placingUpdate" type="button" (click)="delete()">Borrar</button>
        </div>
        <div class="form-row">
            <!-- Errors -->
            <span *ngIf="errorMsg" class="error-msg">{{errorMsg}}</span>
        </div>
    </form>
</div>