<!--> Header card -->
<section class="card card-filter elevation-z2">
    <!-- Header -->
    <div class="card-filter__header">
        <button type="button" class="card-filter__btn-back" [routerLink]="['/main']"><i
                class="fas fa-arrow-left"></i></button>
        <span class="card-filter__header--title">TAREAS</span>
    </div>
</section>

<!--> Treatment card -->
<section class="card card-task elevation-z2" *ngFor="let task of tasks"
    [ngClass]="{'card-task--shown': task.id == expandTaskId}" (click)="expandTask(task.id)">
    <div class="card-task__header">
        <h2>
            <span>{{task.date | date:'d-M-yyyy'}}</span>
        </h2>
        <i class="far fa-check-square" *ngIf="task.completed"></i>
        <i class="far fa-square" *ngIf="!task.completed"></i>
    </div>
    <div class="card-task__content">
        <div>{{task.description}}</div>
    </div>
    <div class="card-task__controls">
        <button type="button" class="btn-edit" (click)="update($event, task)"><i class="fas fa-pen"></i></button>
    </div>
</section>

<!-- >Loading animation -->
<i class="fas fa-spinner loading-icon" *ngIf="!tasks"></i>

<!-- >No items warning -->
<div class="no-items-warn" *ngIf="tasks && tasks.length == 0">Añada elementos</div>

<!-- >Add button -->
<button class="btn-add elevation-z2" type="button" (click)="create()">
    <i class="fas fa-plus"></i>
</button>

<!-- >Create modal -->
<app-add-task *ngIf="createModal" [objectUpdate]="objectUpdate" (returnMsg)="onModalReturn($event)">
</app-add-task>

<!-- >Message modal -->
<app-msg-modal [msg]="msg" *ngIf="msg"></app-msg-modal>