<!-- Main section -->
<main>
  <router-outlet></router-outlet>

  <section class="card card-animals">
    <div class="card__content">
      <div class="card__column card__column--left">
        <h2>Mis animales</h2>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-info"></i>45</div>
          <div class="card__info"><i class="fas fa-egg"></i>15</div>
        </div>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-mars"></i>5</div>
          <div class="card__info"><i class="fas fa-venus"></i>40</div>
        </div>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-syringe"></i>3</div>
          <div class="card__info"></div>
        </div>
      </div>
      <div class="card__column card__column--right">
        <i class="fas fa-chart-pie"></i>
      </div>
    </div>
  </section>

  <section class="card card-crops">
    <div class="card__content">
      <div class="card__column card__column--left">
        <h2>Mis cultivos</h2>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-info"></i>45</div>
          <div class="card__info"><i class="fas fa-egg"></i>15</div>
        </div>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-mars"></i>5</div>
          <div class="card__info"><i class="fas fa-venus"></i>40</div>
        </div>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-syringe"></i>3</div>
          <div class="card__info"></div>
        </div>
      </div>
      <div class="card__column card__column--right">
        <i class="fas fa-chart-pie"></i>
      </div>
    </div>
  </section>

  <section class="card card-machinery">
    <div class="card__content">
      <div class="card__column card__column--left">
        <h2>Mis tareas</h2>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-info"></i>45</div>
          <div class="card__info"><i class="fas fa-egg"></i>15</div>
        </div>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-mars"></i>5</div>
          <div class="card__info"><i class="fas fa-venus"></i>40</div>
        </div>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-syringe"></i>3</div>
          <div class="card__info"></div>
        </div>
      </div>
      <div class="card__column card__column--right">
        <i class="fas fa-chart-pie"></i>
      </div>
    </div>
  </section>

  <section class="card card-farm">
    <div class="card__content">
      <div class="card__column card__column--left">
        <h2>Mi maquinaria</h2>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-info"></i>45</div>
          <div class="card__info"><i class="fas fa-egg"></i>15</div>
        </div>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-mars"></i>5</div>
          <div class="card__info"><i class="fas fa-venus"></i>40</div>
        </div>
        <div class="card__line">
          <div class="card__info"><i class="fas fa-syringe"></i>3</div>
          <div class="card__info"></div>
        </div>
      </div>
      <div class="card__column card__column--right">
        <i class="fas fa-chart-pie"></i>
      </div>
    </div>
  </section>

  <section class="card card-other">
    <div class="card__content">

    </div>
  </section>

  <section class="card card-other2">
    <div class="card__content">

    </div>
  </section>
</main>

<!-- Nav section -->
<nav>
  <button class="nav__btn" type="button" [routerLink]="['/fav']" routerLinkActive="router-link-active"><i
      class="fas fa-star"></i></button>
  <button class="nav__btn" type="button" [routerLink]="['/animals']" routerLinkActive="router-link-active"><i
      class="fas fa-horse"></i></button>
  <button class="nav__btn" type="button" [routerLink]="['/crops']" routerLinkActive="router-link-active"><i
      class="fas fa-seedling"></i></button>
  <button class="nav__btn" type="button" [routerLink]="['/machinery']" routerLinkActive="router-link-active"><i
      class="fas fa-tractor"></i></button>
  <button class="nav__btn" type="button" [routerLink]="['/settings']" routerLinkActive="router-link-active"><i
      class="fas fa-cog"></i></button>
</nav>