//> Imports

@import '../../../assets/styles/variables';

//> Login card

:host {
  justify-content: center;
  background-color: $color-secondary-light;
  background-image: url(../../../assets/img/general/general02.jpg);
  background-size: cover;

  .form {
    background-color: rgba($color: $color-primary, $alpha: .9);
  }

  .controls-row{
    justify-content: center;
  }
}
