<!--> Header card -->
<section class="card card-filter elevation-z2">
    <!-- Header -->
    <div class="card-filter__header">
        <button type="button" class="card-filter__btn-back" [routerLink]="['/login']"><i class="fas fa-sign-out-alt logout-icon"></i></button>
        <span class="card-filter__header--title">MI GRANJA</span>
    </div>
</section>

<!-- >Animals card -->

<section class="card card-animals card-main elevation-z2" [routerLink]="['/placings']">
    <div class="card__content">
        <div class="card__column card__column--left">
            <h2>Mis animales</h2>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-info"></i>45</div>
                <div class="card__info"><i class="fas fa-egg"></i>15</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-mars"></i>5</div>
                <div class="card__info"><i class="fas fa-venus"></i>40</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-syringe"></i>3</div>
                <div class="card__info"></div>
            </div>
        </div>
        <div class="card__column card__column--right">
            <i class="fas fa-chart-pie"></i>
        </div>
    </div>
</section>

<section class="card card-crops card-main elevation-z2" [routerLink]="['/crops']">
    <div class="card__content">
        <div class="card__column card__column--left">
            <h2>Mis cultivos</h2>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-info"></i>45</div>
                <div class="card__info"><i class="fas fa-egg"></i>15</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-mars"></i>5</div>
                <div class="card__info"><i class="fas fa-venus"></i>40</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-syringe"></i>3</div>
                <div class="card__info"></div>
            </div>
        </div>
        <div class="card__column card__column--right">
            <i class="fas fa-chart-pie"></i>
        </div>
    </div>
</section>

<section class="card card-machinery card-main elevation-z2" [routerLink]="['/machinery']">
    <div class="card__content">
        <div class="card__column card__column--left">
            <h2>Mi maquinaria</h2>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-info"></i>45</div>
                <div class="card__info"><i class="fas fa-egg"></i>15</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-mars"></i>5</div>
                <div class="card__info"><i class="fas fa-venus"></i>40</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-syringe"></i>3</div>
                <div class="card__info"></div>
            </div>
        </div>
        <div class="card__column card__column--right">
            <i class="fas fa-chart-pie"></i>
        </div>
    </div>
</section>

<section class="card card-farm card-main elevation-z2" [routerLink]="['/tasks']">
    <div class="card__content">
        <div class="card__column card__column--left">
            <h2>Mis tareas</h2>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-info"></i>45</div>
                <div class="card__info"><i class="fas fa-egg"></i>15</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-mars"></i>5</div>
                <div class="card__info"><i class="fas fa-venus"></i>40</div>
            </div>
            <div class="card__line">
                <div class="card__info"><i class="fas fa-syringe"></i>3</div>
                <div class="card__info"></div>
            </div>
        </div>
        <div class="card__column card__column--right">
            <i class="fas fa-chart-pie"></i>
        </div>
    </div>
</section>