/* You can add global styles to this file, and also import other style files */

//> Imports

@import './assets/styles/variables';

//> Resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $color-grey-light;
  outline: none;
}

//> Structure

.app-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: $color-secondary-light;
}

//> Elevation effects

.elevation-z1 {
  box-shadow: 0 3px 6px 0 rgba($color: $color-black, $alpha: .5);
}

.elevation-z2 {
  box-shadow: 0 5px 8px 0 rgba($color: $color-black, $alpha: .5);
}

.elevation-z3 {
  box-shadow: 0 8px 10px 0 rgba($color: $color-black, $alpha: .5);
}

//> Card styles

.card {
  width: 90%;
  max-width: 25rem;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

.card-main {
  height: 7rem;
}

.card-main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-secondary-dark;
  background-size: 110% auto;
  filter: blur(2px);
}

.card-animals::before {
  background-image: url(./assets/img/animals/animal01.jpg);
  background-position: 0% 30%;
}

.card-crops::before {
  background-image: url(./assets/img/animals/animal02.jpg);
  background-position: 0% 40%;
}

.card-machinery::before {
  background-image: url(./assets/img/animals/animal03.jpg);
  background-position: 0% 50%;
}

.card-farm::before {
  background-image: url(./assets/img/animals/animal04.jpg);
  background-position: 0% 30%;
}

.card-other::before {
  background-image: url(./assets/img/general/general01.jpg);
  background-position: 0% 30%;
}

.card-other2::before {
  background-image: url(./assets/img/general/general02.jpg);
  background-position: 0% 30%;
}


//> Cards content

.card__content {
  background-color: rgba($color: $color-primary-dark, $alpha: .5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .card__column {
    flex: 1 1 50%;
    height: 100%;

    &--right {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      font-size: 5rem;
      position: relative;

      .chart-container {
        position: relative;

        &>.pie-chart {
          height: 6rem;
          width: 8rem;
          border: 1px solid $color-secondary-light;
          border-radius: .3rem;
        }

        .sex-symbol {
          display: block;
          font-size: 1.3rem;
          position: absolute;
          top: .3rem;
        }

        .male-symbol {
          left: .3rem;
          color: $color-secondary-dark;
        }

        .female-symbol {
          right: .3rem;
          color: $color-secondary-light;
        }

        .big-symbol {
          left: .3rem;
          color: $color-primary-dark;
        }

        .small-symbol {
          right: .3rem;
          color: $color-primary-light;
        }

        .unmantained-symbol {
          left: .3rem;
          color: $color-tertiary-dark;
        }

        .mantained-symbol {
          right: .3rem;
          color: $color-tertiary-light;
        }

        .pending-symbol {
          left: .3rem;
          color: $color-grey-dark;
        }

        .completed-symbol {
          right: .3rem;
          color: $color-grey-medium;
        }
      }

    }

    h2 {
      font-weight: 500;
      font-size: 1.3rem;
      margin-bottom: .8rem;

      .btn-edit {
        background-color: transparent;
        border: none;
        margin-left: .5rem;

        i {
          font-size: 1.3rem;
          color: $color-secondary-dark;
        }
      }
    }

    .card__line {
      width: 100%;
      margin-left: 1rem;
      display: flex;
      flex-flow: row nowrap;

      .card__info {
        flex: 1 1 50%;

        i {
          font-size: 1rem;
          width: 1.3rem;
        }
      }
    }
  }
}

//> Filter card

.card-filter {
  background-color: $color-primary;
  max-width: 27rem;
}

// Header

.card-filter__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;

  button {
    background-color: transparent;
    border: none;
  }

  &--title {
    font-size: 1.3rem;
    letter-spacing: .06rem;
  }
}

.card-filter__btn-back {
  font-size: 2rem;

  .logout-icon {
    transform: scale(-1);
  }
}

.card-filter__btn-title {
  font-size: 1.3rem;

  span {
    letter-spacing: .06em;
  }
}

.card-filter__arrow {
  margin-left: .5rem;
  transform: scaleY(1);
  transform-origin: center;
  transition: transform .3s ease-out;

  &--shown {
    transform: scaleY(-1);
  }
}

// Content

.card-filter__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 0;
  opacity: 0;
  transition: height .5s ease-out, opacity .5s ease-out;

  &--shown {
    opacity: 1;
    height: 10rem;
  }
}

.card-filter__element {
  font-size: 1.3rem;
  padding: .5rem 1rem;
  width: 50%;

  span {
    margin-left: .5rem;
  }
}

//> Loading icon

.loading-icon {
  color: $color-secondary-dark;
  font-size: 4rem;
  animation: rotate-in 1s infinite linear;
  margin-top: 3rem;
}

//> No items warning

.no-items-warn {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.3rem;
  border: 1px solid $color-secondary-dark;
  border-radius: .3rem;
  color: $color-secondary-dark;
}

//> Add item button

.btn-add {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  bottom: 5rem;
  right: .5rem;
  border-radius: 50%;
  border: none;
  background-color: $color-primary;
  animation: btn-entering .7s ease-out;

  i {
    font-size: 1.5rem;
    animation: btn-rotating .7s ease-out;
  }
}

@keyframes btn-entering {
  0% {
    transform: translateX(4rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes btn-rotating {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0);
  }
}

//> Form modals

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $color-secondary-light, $alpha: .8);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  animation: fade-in .3s ease-out;

  .msg-modal {
    padding: 1.5rem;
    background-color: $color-primary;
    border-radius: .5rem;
    animation: drop-in 300ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 2.7rem;
      animation: rotate-in 500ms ease-out;
    }

    span {
      font-size: 1.2rem;
      margin-left: .5rem;
    }
  }
}

.form {
  width: 95%;
  max-width: 30rem;
  background-color: $color-primary;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  position: relative;

  .app-title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.8rem;
    color: $color-secondary-light;
  }

  .form-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .btn-close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;

    i {
      font-size: 2rem;
      color: $color-secondary-dark;
    }
  }

  .form-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem 0;

    .text-input {
      width: 100%;
      padding: .5rem;
      border: 1px solid $color-secondary-light;
      border-radius: .3rem;
      font-size: 1.2rem;
      background-color: $color-primary;
      color: $color-white;

      &--center {
        text-align: center;
      }
    }

    .error-msg {
      color: $color-secondary-light;
    }
  }

  .check-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 0;

    .check-input {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .5rem;
    }

    .check-label {
      font-size: 1.2rem;
    }
  }

  .controls-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 0;

    .btn-accept {
      padding: .3rem 1rem;
      margin-left: .5rem;
      border: none;
      border-radius: .3rem;
      background-color: $color-secondary-dark;
      color: $color-white;
      box-shadow: 0 3px 6px 0 rgba($color: $color-black, $alpha: .3);
      font-size: 1.3rem;
      cursor: pointer;

      &:hover {
        box-shadow: 0 5px 8px 0 rgba($color: $color-black, $alpha: .3);
      }

      &[disabled] {
        background-color: $color-grey-dark;
        color: $color-grey-light;
        box-shadow: none;
      }
    }

    .btn-signup{
      background-color: $color-primary;
      border: 1px solid $color-secondary-dark;
      box-shadow: none;
    }
  }
}


//> Common animations

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
